/*---------------------------------------
	SITE: UCBA eMedia Musings
---------------------------------------*/


/* GLOBAL SETTINGS
---------------------------------------*/

* {
	box-sizing: border-box;
}

body {
	background-color: lightgray;
	height: 100vh;
}
	
div.wrapper {
width: 960px;
margin: 1em auto 0 auto;
border:2px black;
box-shadow:2px 2px 6px black;
background-color: white;

}

img {
max-width: 100%;
}


/* HEADER
---------------------------------------*/
	
header {
background-color: #F2EFDF;
display: flex;
justify-content: space-between;
align-items: center;
padding: 2em 1em; 
 border-radius: 10px;
 margin-bottom: .5em;
 
}





header div.sitename { /* ← contains both the h1 and h2 */

}

header h1 {
	font-size: 40px;
	font-weight: bold;
   font-family: "Protest Revolution", sans-serif;
	margin-bottom: .25em;
}

header h1 a {
color: black;
text-decoration: none;

}

header h2 {
font-size: 30px;
}



/* MAIN NAVIGATION 
---------------------------------------*/	

nav.topnav { /* ← entire navigation area */
background-color: #798C8C;
border-radius: 10px;
 
}

nav.topnav ul {
	list-style-type: none;
	display: flex;
	align-items: center;
}

nav.topnav li {

}

nav.topnav a {
	padding: 1em 2em;
	text-transform: uppercase;
	display: block;
	text-decoration: none;
	color: black; /* ← you can change this */
}

nav.topnav a:hover {
	background-color: ghostwhite; /* ← you can change this */
	border-radius: 2em;
}



/* HOMEPAGE LAYOUT
---------------------------------------*/	
main.homepage {
	display: grid;
  grid-template-columns:1fr, 1fr 1fr 1fr; 
  grid-gap: 1em;
 
}

	


article.blog {
	grid-column: 1/4;
	grid-row: 1/3;
	padding: 1em; 
	
}

article.blog h2 { /* ← blog heading */
font-size:30%;
border-bottom: 2px solid black;
font-family: "Protest Revolution", sans-serif;

}

article.blog p { /* ← blog text */
	font: size 20%;
	line-height: 1.4; 
	
	
 }


main.homepage aside { /* ← both asides */
background-color: #798C8C;


}

main.homepage aside.recent {

grid-column: 4/5;
grid-row: 1/2;
font-family: "Protest Revolution", sans-serif

}

main.homepage aside.links {
grid-column: 4/5;
grid-row: 2/3;
font-family: "Protest Revolution", sans-serif





}

main.homepage aside h3 { /* ← h3s in asides */

}

main.homepage aside ul { /* ← lists in the asides */

}

main.homepage aside li { /* ← items in the aside lists */
margin: 0 0 .5em 1em;
margin-bottom: 10px;
}

main.homepage aside li a { 
margin-left: 10px;
margin-bottom: 10px;
text-decoration: none;
border: black;

}

main.homepage aside li a:hover { 
	color: #59554C; 
	background-color: #f0f0f0;  
	text-decoration: none;
}



/* CAMPUS AREA
---------------------------------------*/

section.campus	{
border-radius: 2em;
grid-column: 1/5;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
grid-gap: 1em;
padding: 1em;

}	

section.campus section { /* ← all 6 of the building sections */

}

section.campus h3 {
font-size: 100%;
font-family: "Protest Revolution", sans-serif;

}

section.campus figure {

}

section.campus img {
	border: 5px solid #59554C; /* ← you can change this */
	box-shadow: 2px 2px 5px #AEBFBE;
}

section.campus figcaption {
font-size: 80%
}



/* FOOTER
---------------------------------------*/

footer {
	background-color: #F2EFDF;
	padding: 1em 2em;
	
}

footer p { 

}


/* Don't add any media queries yet.
   You will add them for the next part of this assignment */ 

/* TABLET
---------------------------------------*/
@media(ma-width: 768px){
	div.Wrapper{
		width:100;
		margin:0
	}

	img{
		max-width:100%;
	
	}


	header{
		text-align: center;
		flex-direction: column;
	}

nav.topnav{
	margin-top: .5em;
}


main.homepage{ 
	grid-template-columns: 1fr 1fr;
	
}



article.blog{
	grid-column: 1/3;
	grid-row:1/2;

}
	


Main.homepage aside.recent{
	grid-column:1/2;
	grid-row: 2/3;
}


main.homepage aside.links{
	grid-column: 2/3;
	grid-row: 2/3;
	}



	section.campus{
		grid-column: 1/3;
		grid-template-columns: 1fr 1fr 1fr;
		}




		section.campus figure{
			display: grid;
			grid-template-columns:1fr 2fr;
			grid-gap:.75em;
			align-items: center;
		}




		article.blog h2{
			font-size:170%;
		
		}


		article.blog p{
			line-height: 1.4;
			font-size: 135%;
			margin-bottom: 0;
			
		}


		main.homepage aside h3 {

			font-size: 150%;
		}



		main.homepage aside li{
			margin-bottom: 1.5em;
		}
		
		main.homepage aside a {
			padding: .5em;
		}
		
		section.campus h3{
		font-size: 140%;
		
		}
		
		section.campus figcaption {
		font-size:140%;
		align-items: center;
		}




}


/* PHONE
---------------------------------------*/

@media(max-wdth:480px){

}

div.wrapper{
	width: 100%; 
	margin: 0;
}	
header{
	margin:0;
	padding: 1em;
}
nav.topnav{
	width: 98%; 
	margin-bottom: .5em; 
}
 
nav.topnav ul{
flex-direction: column;
}
nav.topnav li{
	border-top: 1px solid black;
}
nav.topnav li:last-of-type {
border:none; 

}
main.homepage{
	grid-template-columns: 1fr;
}

article.blog{
	grid-column: 1/2;

}

main.homepage aside{
	display: none; 
}
section.campus{
	grid-template-columns: 1fr;
	grid-gap:1em; 

}
section.campus h3{
	font-size: 150%; 
}

section.campus figure{
	grid-template-columns: 1fr 4fr;
	background-color:gray;
	padding: 0 1em 0 1;
	border-radius: 1em; 
}

section.campus figcaption{
	font-size:140%;
	line-height: 1.4; 
	padding:.5em 
}





